@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: white #e60c7d;
  scrollbar-width: thin;
}
.progress-bar {
  content: "";
  display: block;
  height: 8px;
  width: 100vw;
  background: linear-gradient(
    to left,
    #e60c7d,
    #e60c7c,
    #f28c00,
    #674186,
    #4f368c,
    #4f368c,
    #0f75bb,
    #035c98
  );
  position: absolute;
  top: 0;
  border-radius: 8px;
  left: 0;
  z-index: 1000;
  animation: load 1.5s forwards;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 15px,
    rgba(0, 0, 255, 0.2) 0px 2px 8px 1px;
}
@keyframes load {
  from {
    width: 0px;
  }
  to {
    width: 75vw;
  }
}
@keyframes fullload {
  from {
    width: 75vw;
  }
  to {
    width: 100vw;
  }
}
.preloader {
  width: 100vw;
  height: 100vh;
  background: rgb(37, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  color: white;
  left: 0;
  z-index: 999;
}
*::-webkit-scrollbar {
  width: 8px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: #e60c7d;
  display: none;
  border: 2px solid white;
  border-top: 30px;
  border-left: 40px;
  border-right: 40px;
  border-bottom: 40px;
}

*::-webkit-scrollbar-track.ativo {
  background: #e60c7d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  cursor: pointer;
  height: 20vh;
  background: transparent;
}
html {
  background: linear-gradient(
    to left,
    #e60c7d,
    #e60c7c,
    #f28c00,
    #674186,
    #4f368c,
    #4f368c,
    #0f75bb,
    #035c98
  );
  padding: 8px 8px 0 8px;
}
li {
  list-style: none;
}
body {
  background-color: white;
  color: black;
  font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.header-grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / 3;
}
a {
  text-decoration: none;
}
.brand {
  display: flex;
  width: 160px;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  width: 57px;
  position: relative;
  right: calc(5vw + 27px);
}
.brand .logo > * {
  display: none;
}
.brand .logo .mid.ativo {
  display: block;
  margin: 0;
  animation: mid 1s forwards;
}
.brand .logo .left.ativo {
  display: block;
  animation: left 0.5s forwards;
}
.brand .logo .right.ativo {
  display: block;
  animation: right 0.5s forwards;
}
.mid {
  display: block;
  width: 9px;
  height: 66px;
  background-color: black;
  margin: 0 15px;
  left: 50%;
}
.left {
  display: block;
  width: 9px;
  height: 25px;
  background-color: black;
  margin-top: 12px;
}
.right {
  display: block;
  width: 9px;
  height: 25px;
  background-color: black;
  margin-top: 12px;
}

@keyframes mid {
  from {
    height: 0;
    margin: 0;
  }
  to {
    height: 66px;
    margin: 0;
  }
}
@keyframes left {
  from {
    transform: translate3d(9px, 0, 0);
  }
  to {
    transform: translate3d(-15px, 0, 0);
  }
}
@keyframes right {
  from {
    transform: translate3d(-9px, 0, 0);
  }
  to {
    transform: translate3d(15px, 0, 0);
  }
}
header h1 {
  color: black;
  font-weight: 500;
  font-size: 2.5rem;
  position: absolute;
  right: calc(50% - 80px);
}
.menu-open {
  position: fixed;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 93.5%;
  top: 50px;
  animation: b 0.4s forwards;
}
@keyframes b {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.menu-open.ativo {
  z-index: 51;
}
.menu-open.ativo .top {
  background-color: white !important;
}
.menu-open.ativo .bottom {
  background-color: white !important;
}
.top {
  display: block;
  background-color: rgba(0, 0, 0, 0.9) !important;
  width: 20px;
  height: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
}
.bottom {
  display: block;
  background-color: rgba(0, 0, 0, 0.9) !important;
  width: 40px;
  height: 7px;
}
[data-menu="container"] {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  animation: contshow 0.3s forwards;
  z-index: 50;
  display: none;
  top: 0;
}
[data-menu="container"].ativo {
  display: flex;
  justify-content: flex-end;
}
.menu {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr;
  height: 100vh;
  width: 50%;
  cursor: default;
  animation: show 0.5s forwards;
  right: 0;
}

@keyframes contunshow {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes contshow {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes unshow {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
}

.logo-menu {
  display: none;
}
.logo-menu > * {
  background-color: white;
}
.menu-close {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: bold;
  grid-column: 2/3;
  width: 50px;
  height: 50px;
  margin-top: 26px;
  cursor: pointer;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  margin-right: 25px;
}
.social {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.social p {
  color: #777;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 30px;
}
.social li {
  margin-bottom: 50px;
}
.menu-links {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.menu-links p {
  color: #777;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 30px;
}
.menu-links li {
  margin-bottom: 50px;
}
.menu-links a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
.contato-email {
  color: white;
  grid-column: 1 / 2;
  margin-left: 25px;
  height: 100px;
}
.contato-email h4 {
  font-weight: 500;
  color: #777;
  font-size: 1rem;
  margin-bottom: 8px;
}
.contato-email p {
  font-size: 1.5rem;
}
.ctt-wpp {
  grid-column: 2 / 3;
  margin-left: 35px;
  width: 250px;
  background: #0eff00;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: baseline;
  cursor: pointer;
}

.ctt-wpp img {
  margin: 0 24px;
  height: 42px;
}
.ctt-wpp p {
  font-size: 1.5rem;
  color: white;
}
.contato {
  width: 80%;
  height: 115vh;
  margin-top: 0rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contato .contato-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
}
#contato-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  margin-top: 3rem;
}
.contato-input {
  width: 40rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(119, 119, 119, 0.3);
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  line-height: 3rem;
}
form button {
  width: fit-content;
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(119, 119, 119, 0.3);
  color: #777;
  line-height: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  margin-top: rem;
}
footer {
  background-color: black;
  position: absolute;
  height: 60vh;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}
footer .inside-container {
  width: 80%;
}
footer .inside-container > * {
  margin: 3rem 0;
}
footer .text-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .text-logo h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
footer .text-logo .logo-footer {
  display: flex;
}
footer .text-logo .logo-footer > * {
  background-color: white;
}
footer .ctt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .ctt-text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
footer .ctt-social {
  display: flex;
  align-items: center;
}
footer .ctt-social a {
  margin-left: 50px;
}
