@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: white #e60c7d;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e60c7d;
  border: 2px solid white;
  border-top: 30px;
  border-left: 40px;
  border-right: 40px;
  border-bottom: 40px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  cursor: pointer;
  height: 20vh;
  background: transparent;
}
html {
  background: linear-gradient(
    to left,
    #e60c7d,
    #e60c7c,
    #f28c00,
    #674186,
    #4f368c,
    #4f368c,
    #0f75bb,
    #035c98
  );
  padding: 8px 0px 0 8px;
}
li {
  list-style: none;
}
body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.header-grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / 3;
}
a {
  text-decoration: none;
}
.brand {
  display: flex;
  width: 160px;
  justify-content: space-between;
  position: relative;
  right: calc(5vw + 27px);
}
.logo {
  display: flex;
  justify-content: center;
  width: 57px;
}
.brand .logo > * {
  display: none;
}
.brand .logo .mid.ativo {
  display: block;
  margin: 0;
  animation: mid 1s forwards;
}
.brand .logo .left.ativo {
  display: block;
  animation: left 0.5s forwards;
}
.brand .logo .right.ativo {
  display: block;
  animation: right 0.5s forwards;
}
.mid {
  display: block;
  width: 9px;
  height: 66px;
  background-color: white;
  margin: 0 15px;
  left: 50%;
}
.left {
  display: block;
  width: 9px;
  height: 25px;
  background-color: white;
  margin-top: 12px;
}
.right {
  display: block;
  width: 9px;
  height: 25px;
  background-color: white;
  margin-top: 12px;
}

@keyframes mid {
  from {
    height: 0;
    margin: 0;
  }
  to {
    height: 66px;
    margin: 0;
  }
}
@keyframes left {
  from {
    transform: translate3d(9px, 0, 0);
  }
  to {
    transform: translate3d(-15px, 0, 0);
  }
}
@keyframes right {
  from {
    transform: translate3d(-9px, 0, 0);
  }
  to {
    transform: translate3d(15px, 0, 0);
  }
}

.text {
  margin: 9px auto;
  color: white;
}
.text h2 {
  font-weight: 700;
}
.text h4 {
  font-weight: 300;
  text-align: right;
  font-style: italic;
}
.menu-txt {
  font-style: italic;
  left: 0;
}
.menu-open {
  position: fixed;
  cursor: pointer;
  z-index: 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 3%;
  top: 50px;
  animation: b 0.4s forwards;
}
@keyframes b {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.menu-open.ativo {
  display: none;
}
.top {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 20px;
  height: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
}
.bottom {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 40px;
  height: 7px;
}
[data-menu="container"] {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  animation: contshow 0.3s forwards;
  z-index: 50;
  display: none;
  top: 0;
}
[data-menu="container"].ativo {
  display: flex;
  justify-content: flex-end;
}
.menu {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr;
  height: 100vh;
  width: 50%;
  cursor: default;
  animation: show 0.5s forwards;
  right: 0;
}

@keyframes contunshow {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes contshow {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes unshow {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }
}

.logo-menu {
  display: none;
}

.logo-menu a {
  display: flex;
  margin-top: 27px;
  margin-left: 35px;
  grid-column: 1 / 2;
}
.logo-menu a > * {
  background-color: black;
}
.menu-close {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: bold;
  grid-column: 2/3;
  width: 50px;
  height: 50px;
  margin-top: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  margin-right: 25px;
}
.social {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.social p {
  color: #777;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 30px;
}
.social li {
  margin-bottom: 50px;
}
.menu-links {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
.menu-links p {
  color: #777;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 30px;
}
.menu-links li {
  margin-bottom: 50px;
}
.menu-links a {
  color: black;
  font-size: 2.5rem;
}
.contato-email {
  grid-column: 1 / 2;
  margin-left: 25px;
  height: 100px;
}
.contato-email h4 {
  font-weight: 500;
  color: #777;
  font-size: 1rem;
  margin-bottom: 8px;
}
.contato-email p {
  font-size: 1.5rem;
}
.ctt-wpp {
  grid-column: 2 / 3;
  margin-left: 35px;
  width: 250px;
  background: #0eff00;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: baseline;
  cursor: pointer;
}

.ctt-wpp img {
  margin: 0 24px;
  height: 42px;
}
.ctt-wpp p {
  font-size: 1.5rem;
  color: white;
}
.hero {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 85vh;
}
.hero .title {
  font-size: 3rem;
  z-index: 2;
  position: absolute;
  left: 10%;
}

.hero .certo {
  font-style: italic;
}
.hero .img-container {
  width: 28rem;
  height: 18.5rem;
  background: transparent;
  z-index: 1;
  position: absolute;
  right: 10%;
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0;
  opacity: 0.8;
  scale: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: scale(0.9);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.hero .img-container img {
  height: 18.5rem;
  z-index: 2;
}

.custom-controls {
  z-index: 1;
  visibility: hidden;
  right: 10%;
  position: absolute;
  width: 28rem;
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  flex-wrap: wrap;
}

.custom-controls.active {
  visibility: visible;
}

.custom-controls li img {
  object-fit: scale-down;
}

.custom-controls li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}
.custom-controls li.active {
  margin: 40px 6px 0px 6px;
}

.hero .bg {
  width: 40rem;
  display: none;
  position: absolute;
  right: 5vw;
  z-index: 0;
}

.hero .bg svg {
  position: relative;
  overflow: visible;
  right: -0rem;
  top: -0rem;
}

.hero .bg path {
  position: relative;
  right: -0rem;
  top: -0rem;
  fill: rgba(0, 0, 0, 0.175);
}

.projetos {
  max-width: 100%;
  margin: 0 auto;
}

.projetos-titulo h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: lighter;
  position: relative;
  z-index: 1;
  margin: 20vh 0 30vh 0;
}
.projetos-titulo span {
  font-weight: bold;
  font-style: italic;
}
.projeto-container[data-projeto="Tanoshime"] {
  background-image: url("../images/forma-2.png");
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position-x: 87%;
  background-position-y: center;
}
.projeto-container[data-projeto="Ilma"] {
  background-image: url("../images/forma-4.png");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position-x: 5%;
  background-position-y: center;
}
.projeto-container[data-projeto="Sus"] {
  background-image: url("../images/forma-1.png");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position-x: 95%;
  background-position-y: center;
}
.projeto-container[data-projeto="Pizza"] {
  background-image: url("../images/forma-geometrica.png");
  background-repeat: no-repeat;
  background-size: 45rem;
  background-position-x: 5%;
  background-position-y: center;
}
.projeto {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 130vh;
}
.projeto-container[data-projeto="Ilma"] .projeto {
  flex-direction: row-reverse;
}
.projeto-container[data-projeto="Pizza"] .projeto {
  flex-direction: row-reverse;
}
.projeto-descricao h4 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1.25rem;
}
.projeto-descricao h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: normal;
}
.projeto-descricao p {
  font-size: 1.25rem;
  color: #777;
}
.projeto .img-container {
  width: 28rem;
  height: 40rem;
  background: transparent;
  padding: 10px;
  border: 5px solid #e60c7c;
  box-shadow: 2px 3px 10px rgba(0, 0, 255, 0.527);
}
.projeto .img-container img {
  height: 38rem;
}
.divisor {
  position: absolute;
  left: 50%;
}
.divisor .top-0 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-left: 41px;
}
.divisor .mid-0 {
  display: block;
  width: 66px;
  height: 9px;
  background-color: white;
  margin: 9px 0;
}
.divisor .bot-0 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-right: 41px;
}
.divisor .top-1 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-left: 20px;
}
.divisor .mid-0 {
  display: block;
  width: 66px;
  height: 9px;
  background-color: white;
  margin: 9px 0;
}
.divisor .bot-1 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-left: 20px;
}
.divisor .top-2 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-right: 41px;
}
.divisor .mid-0 {
  display: block;
  width: 66px;
  height: 9px;
  background-color: white;
  margin: 9px 0;
}
.divisor .bot-2 {
  display: block;
  width: 25px;
  height: 9px;
  background-color: white;
  margin-left: 41px;
}
.how {
  max-width: 80%;
  margin: 0 auto;
}
.how-titulo h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: lighter;
}
.how-titulo span {
  font-weight: bold;
  font-style: italic;
}
.how-container {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  background-image: url("../images/forma-geometrica-espelhada.png");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 7rem;
}
.how-btn {
  height: fit-content;
}
.how-container .how-btn {
  display: flex;
  background-color: black;
  width: 3.25rem;
  height: 3.25rem;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
.how-container h2 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 13rem;
}
.icon-pesquisa {
  display: flex;
}
.icon-pesquisa .left {
  width: 25px;
  height: 80px;
  margin-top: 0;
}
.icon-pesquisa .mid {
  width: 25px;
  height: 200px;
  margin: 0 45px;
}
.icon-pesquisa .right {
  width: 25px;
  height: 80px;
  margin-top: 0;
}
.how-text h3 {
  margin-top: 50px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.how-text p {
  text-align: center;
  font-size: 1.25rem;
}
footer {
  background-color: white;
  position: absolute;
  height: 60vh;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
footer .inside-container {
  width: 80%;
}
footer .inside-container > * {
  margin: 3rem 0;
}
footer .text-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .text-logo h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
footer .text-logo .logo-footer a {
  display: flex;
}
footer .text-logo .logo-footer a > * {
  background-color: black;
}
footer .ctt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .ctt-text h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
footer .ctt-social {
  display: flex;
  align-items: center;
}
footer .ctt-social a {
  margin-left: 50px;
}
